**PySDS Week 02 Day 03 v.1 - Exercise - Dates and more DataFrames**

Today we will continue to use the PySDS_PolCandidates.csv table and answer some more involved questions as DataFrame practice. 

First, I would like you to begin with a few practice exercises on parsing date times first. Then, using only filters, grouping and other features of DataFrames you should be able to accomplish the questions below.

In [9]:
# Date Parsing exercises: 
from datetime import datetime  

time_now = datetime.now()
time_1 =  "June 20, 1985 12:35pm"
time_2 =  "10/10/10 10:10:10 +1000" # hint, the +1000 means UTC +10 hours 
time_3 = "534567890" #UTC time; hint: datetime.utcfromtimestamp(xx)

# Question 1. Using now(), which I realise will be a slightly 
# different time for everyone. report the time elapsed between 
# times 1,2,3 and now()

# Question 2. For each of the times above, what day of the week was it? 


# Answer



# Reviewer comments

1986-12-10 03:04:50

In [36]:
# Extended exercise part 1. 

# Using the data "PySDS_PolCandidates.csv" fill in the DataFrame below 
# with data. Also, try to ensure that it is formatted nicely. 
import pandas as pd 

media_combo_df = pd.DataFrame(columns=["Labour","Conservative","All Parties"],
                             index=["None",
                                   "Only Twitter",
                                   "Only Facebook",
                                   "Only Webpage",
                                   "Twitter and Facebook",
                                   "Facebook and Webpage",
                                   "Twitter and Webpage",
                                   "Twitter, Facebook and Webpage"
                                   ])
display(media_combo_df)

# Each cell should be the count of users of the total. So, if it is the 
# [None, Labour] cell it would be the number of Labour candidates
# who did not have either Twitter, Web or Facebook. 

# Here are some hints: If you ensure that the empty columns in the 
# PolCandidates.csv file are null, you can then use boolean logic to 
# select your variables. For example, 
# x = df['have_twitter'].notnull()
# y = df['have_facebook'].notnull() 
# then 
# have_both = df[x & y] 
# will get you the rows of the people who have both and 
# have_both['party'].value_counts() 
# will get you the count, by party, of the people 
# who have both twitter and facebook.

                              Labour Conservative All Parties
None                             NaN          NaN         NaN
Only Twitter                     NaN          NaN         NaN
Only Facebook                    NaN          NaN         NaN
Only Webpage                     NaN          NaN         NaN
Twitter and Facebook             NaN          NaN         NaN
Facebook and Webpage             NaN          NaN         NaN
Twitter and Webpage              NaN          NaN         NaN
Twitter, Facebook and Webpage    NaN          NaN         NaN

In [32]:
# Extended exercise part 2. 

# The raw counts in the table are useful, 
# but showing the relative percentage would be even more useful. 
# Create a new table that is formatted like the above, however, in 
# this table show the percent of the column total. 
# So for Labour that would be the percentage of Labour candidates
# who had 'only webpage', not the percentage of all candidates who
# are Labour and only have a webpage. 

# Hint to display a DataFrame as a percentage, try this: 
df = pd.DataFrame(pd.Series(range(10))/10,columns=["var1"])
df['var2'] = df['var1'].map(lambda n: '{:,.1%}'.format(n))
df

# Answer below here



# Reviwers comments below here

   var1   var2
0   0.0   0.0%
1   0.1  10.0%
2   0.2  20.0%
3   0.3  30.0%
4   0.4  40.0%
5   0.5  50.0%
6   0.6  60.0%
7   0.7  70.0%
8   0.8  80.0%
9   0.9  90.0%

In [33]:
# Extended exercise part 3. 

# Sum each of the columns in the previous exercise. 
# Do each of the columns sum to 100%? They should. 
# Use this exercise as a check that 
# each column sums to the expected total. 

# hint. 
print(df["var1"].sum())

# Answer below here




# Reviewers comments below here

4.5